<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><Ecommerce></title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h2><Registration></h2>
    <form id="registrationForm">
        <input type="text" id="regUsername" placeholder="Username" required>
        <input type="password" id="regPassword" placeholder="Password" required>
        <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
        <button type="submit">Register</button>
    </form>
    <p id="registerMessage"><Successfukky registered></p>

    <script src="script.js"></script>
</body>
</html>
